/* Container for the whole timeline */
.timeline-container {
  margin-top: 6rem; /* Adjust according to your header height */
  padding: 0 2rem;
}

.timeline-title {
  font-size: 5rem;
  /* font-weight: 500; */
  margin-bottom: 3rem;
  /* text-align: center; */
  color: #ffffff;
  font-family: "Whyte Inktrap", sans-serif;
}

/* List of timeline items */
.timeline-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: "Kanit", serif;
  font-weight: 200;
  font-style: normal;
}

/* Individual timeline item */
.timeline-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0rem;
  border-bottom: 2.2px solid #ffffff;
  transition: all 0.2s ease;
}

.timeline-item-heading {
  border-bottom: none;
  padding: 0 0rem;
}
/* 
.timeline-item:hover {
  background-color: #f8f8f8;
} */

/* Year section */
.timeline-year {
  width: 10rem;
}

.timeline-year span {
  font-size: 1.25rem;
  font-weight: bold;
  color: #ffffff;
}

/* Name section */
.timeline-name {
  flex: 1;
  display: flex;
  /* background-color: #333; */
  justify-content: center;
}

.timeline-name span {
  font-size: 1.25rem;
  font-weight: 600;
  color: #ffffff;
}

/* Button styling */
.timeline-button {
  padding: 0.5rem 1.5rem;
  border-radius: 9999px;
  background-color: #a5d8c8;
  color: #111111;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.timeline-button:hover {
  background-color: #555;
}

.timeline-button:active {
  transform: scale(0.95);
}

.timeline-wrapper-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hidden-button {
  visibility: hidden;
}

@media (max-width: 768px) {
  .timeline-container {
    margin-top: 6rem;
    padding: 0 0.5rem;
  }
  .timeline-wrapper-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    /* align-items: center; */
  }

  .timeline-title {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  .timeline-list {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    font-family: "Kanit", serif;
    font-weight: 200;
    font-style: normal;
  }

  /* Individual timeline item */
  .timeline-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0rem;
    /* margin-bottom: 2rem; */
    border-bottom: 2.2px solid #ffffff;
    transition: all 0.2s ease;
  }

  .hidden-button {
    display: none;
  }

  .timeline-item-heading {
    /* text-align: right; */
    justify-content: space-between;
  }

  .project-head {
    text-align: right;
  }

  .timeline-year {
    width: 10rem;
  }

  .timeline-year span {
    font-size: 1.25rem;
    font-weight: bold;
    color: #ffffff;
  }

  .timeline-name span {
    font-size: 1.25rem;
    font-weight: 600;
    color: #ffffff;
  }

  /* Button styling */
  .timeline-button {
    padding: 0.5rem 2rem;
    border-radius: 9999px;
    background-color: #39dfaa;
    color: #111111;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    max-width: fit-content;
    transition: transform 0.1s ease;
    margin-top: 1rem;
  }

  .timeline-button:active {
    transform: scale(0.95);
  }
}
