/* Work.css */

.work-section {
  /* padding-top: 8rem; */
  padding-bottom: 8rem;
}

.work-title {
  font-size: 10rem !important;
  /* font-weight: 200; */
  margin-bottom: 2rem;
  text-align: center;
  font-family: "Whyte Inktrap", sans-serif;
  color: #ffffff;
}

.project-card-column {
  padding: 2%;
}

@media (min-width: 768px) {
  .work-title {
    font-size: 8rem;
  }
}

@media (max-width: 768px) {
  .work-title {
    font-size: 2.7rem !important;
  }

  .work-section {
    padding-bottom: 5rem;
  }
  .project-card-column {
    padding: 0%;
  }

  .project-card-column {
    display: flex;
    flex-direction: column;
    /* margin: 0 !important; */
    gap: 15px;
  }
}

.project-card-container {
  display: flex;
  flex-direction: column;
  /* gap: 0rem; */
}

.project-card-column {
  display: flex;
  justify-content: center;
  /* margin: 6% 0 0 0; */
  gap: 15px;
}

.timeline-container {
  /* margin-top: 6rem; */
}
